
.container {
  position: relative;
  width: 210mm; /* Width of A4 paper */
  height: 297mm; /* Height of A4 paper */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0; /* Margin around the A4 paper */
  background-color: white; /* Set the background color */
}

.root{
    --customColor: rgb(38, 96, 147);
    --customColor2: rgb(92, 140, 183);
    --customColor3: rgb(163, 201, 97);
    /* Add more custom colors as needed */
    --font-color: black;
    --footer-color : white;
    --highlight-color: var(--customColor);
    --header-bg-color: var(--customColor2);
    --footer-bg-color: var(--customColor3);
    --table-row-separator-color: #BFC0C3;
  }
  
  .body{
    margin:0;
    padding:1cm 2cm;
    color:var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-size:10pt;
  }
  
  .a{
    color:inherit;
    text-decoration:none;
  }
  
  .hr{
    margin:0.5cm 0;
    height:0;
    margin-top: 50px;
    border:0;
    border-top:1mm solid var(--highlight-color);
  }
  
  .header{
    height:6.5cm;
    padding:0 1.5cm;
    background-color:var(--header-bg-color);
  }
  
  header .headerSection{
    display:flex;
    justify-content:space-between;
  }
  
  header .headerSection:first-child{
    padding-top:.5cm;
  }
  
  header .headerSection:last-child{
    padding-bottom:.5cm;
  }
  
  header .headerSection div:last-child{
    width:35%;
  }
  
  header .logoAndName{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .image {
    position: absolute;
    bottom: 205px;
    right: 570px;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:space-between
}

  header .dashboard {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
  }
  
  header .logoAndName svg{
    width:1.5cm;
    height:1.5cm;
    margin-right:.5cm;
  }
  
  header .headerSection .estimateDetails{
    padding-top:1cm;
  }
  
  header .headerSection .issuedTo{
    display:flex;
    justify-content:space-between;
    max-width: 400px; /* Set maximum width if needed */
  }
  
  header .headerSection .issuedTo h3{
    margin:0 .75cm 0 0;
    color:var(--highlight-color);
  }
  
  header .headerSection div p{
    margin-top:2px;
  }
  
  .header h1,
  .header h2,
  .header h3,
  .header p{
    margin:0;
  }
  
  .header h2,
  .header h3{
    text-transform:uppercase;
  }
  
  .header hr{
    margin:1cm 0 0.5cm 0;
  }
  
  .main table{
    width:96%;
    border-collapse:collapse;
  }
  
  .main table tbody td:nth-child(3) { /* Selector for den tredje kolonne (Total CO2) */
    text-align: center; /* Højrejusterer teksten */
  }

  .main table thead th{
    padding:4mm 0 4mm 1cm;
    height:1cm;
    width: 4cm;
    color:var(--highlight-color);
  }
  
  .main table thead th:nth-of-type(2),
  .main table thead th:nth-of-type(3),
  .main table thead th:last-of-type{
    width:2.2cm;
  }
  
  .main table tbody td{
    padding:4mm 0 4mm 1cm;
    border-bottom:0.5mm solid var(--table-row-separator-color);
  }
  
  .main table thead th:last-of-type,
  .main table tbody td:last-of-type{
    text-align:right;
  }
  
  .main table th{
    text-align:left;
  }
  
  main table.summary {
    border: 2px solid black;
    width: calc(40% + 2cm);
    margin-left: auto;
    margin-top: 0.5cm;
    border-collapse: collapse; /* Sikrer, at grænserne ikke har mellemrum */
  }
  
  main table.summary tr.line-after td {
    border-bottom: 1px solid #000; /* Tilføjer en sort linje under rækker med denne klasse */
  }
  
  main table.summary tr.total {
    font-size: 12pt;
    /*font-weight: bold;*/
    background-color: var(--footer-bg-color);
  }
  
  main table.summary th {
    padding: 2mm 0 4mm 1cm;
    border-bottom: 0; /* Fjerner nederste grænse på header */
  }
  
  main table.summary td {
    padding: 2mm 1cm 4mm 0%;
    border-bottom: 0; /* Fjerner nederste grænse på celler */
  }
  

  main table.ROI {
      border: 2px solid black;
      width: calc(50% + 2cm);
      margin-left: auto;
      margin-top: 0.5cm;
      border-collapse: collapse; /* Sikrer, at grænserne ikke har mellemrum */
  }

  main table.ROI tr {
      border-bottom: 1px solid #000; /* Tilføjer en sort linje mellem rækkerne */
  }

  main table.ROI tr.total {
      font-size: 12pt;
      /*font-weight: bold;*/
      background-color: var(--header-bg-color);
  }

  main table.ROI th {
      padding: 2mm 0 4mm 1cm;
      border-bottom: 0; /* Fjerner nederste grænse på header */
  }

  main table.ROI td {
      padding: 2mm 1cm 4mm 0%;
      border-bottom: 0; /* Fjerner nederste grænse på celler */
  }


  .aside{
    -prince-float: bottom;
    float: none;
    padding:0cm 0.5cm .5cm 0.5cm;
    margin-top: -30px;
  }
  
  .aside p{
    font-size:9pt;
    margin:0 0 .25cm 0;
  }
  
  .aside ul{
    margin:.25cm 0;
    padding:0 .5cm;
  }
  
  .aside li{
    margin-left:1cm;
  }
  
  .footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    height:2.3cm;
    padding:0 1.1cm;
    color : var(--footer-color);
    background-color:var(--highlight-color);
    font-size:12pt;
  }

  .center-table {
    margin: 0 auto; /* Centrerer tabellen vandret */
  }

  .contact {
    margin-right: 2.5cm; /* Adjust margin-left as needed */
  }
  

  